<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page3.css">
</head>
<body>
    <section class="tittles">
        <h1>Just that simple</h1>
        <section class="parrafo">
            <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu eget.</p>
            <div class="boton">
                <a href="https:www.example.com">Get started</a>
            </div>
        </section>
    </section>
        <img src="../stora/img/hero-Image.png">
</body>
</html>