<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page4.css">
</head>
<body>
    <img src="../stora/img/Image.png">
    <section class="left">
        <div class="up">
            <h1>Exploration and <br>inspiration</h1>
            <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus<br> semper habitant arcu eget. Et integer<br> facilisi eget diam.</p>
            <div class="boton">
                <a href="https:www,example.com">Explore</a>
            </div>
        </div>
        <div class="midle">
            <h1>01</h1>
            <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget.</p>
        </div>
        <div class="down">
            <h1>02</h1>
            <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper<br> habitant arcu eget. Et integer facilisi eget.</p>
        </div>
    </section>
    
</body>
</html>