<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page16</title>
    <link rel="stylesheet" href="../css/page16.css">
</head>
<body>

    <div class="content">
        <div class="cuadro-1">
            <h1>What’s next in <br> 
                your space travel</h1>
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="https:www.example.com">Explore</a>
        </div>
        <div class="cuadro-2">
            <div class="1">
                <img clas="img-down"src="../stora/img/Insights.png">
                <h1>Planets</h1>
                pLorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
            </div>
            <div class="2">
                <img clas="img-down"src="../stora/img/Insights.png">
                <h1>Interstellar</h1>
                pLorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
            </div>
            <div class="3">
                <img clas="img-down"src="../stora/img/Insights.png">
                <h1>Wormhole</h1>
                pLorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
            </div>
            <div class="4">
                <img clas="img-down"src="../stora/img/Insights.png">
                <h1>time</h1>
                pLorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
            </div>
        </div>
    </div>
    <img class="main-img" src="../stora/img/AI image - OpenAI.png">
</body>
</html>