<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page-15.css">
</head>
<body>
    <div class="left">
        <div class="title">
        <h1>Adventure<br>
            Voyage<br>
            Wandering</h1>
        <img class="start1"src="../stora/img/Star 3.png">
        </div>
        <p>
            Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi. 
        </p>
        <div class="boton1">
            <a href="https.www.example.com">Get started</a>
        </div>
        <section class="img-left">
            <img class="img1"src="../stora/img/Frame 14215.png">
            <img class="img2"src="../stora/img/Frame 14214.png">
        </section>
    </div>
    <div class="center">
        <img class="imgcenter"src="../stora/img/image middle.png" >
    </div>
    <div class="right">
        <div class="img-right">
            <img class="img3"src="../stora/img/Frame 14221.png">
            <img class="img4"src="../stora/img/Frame 14217.png">
            <img class="start2"src="../stora/img/Star 3.png">
        </div>
        <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. <br> Faucibus in libero risus semper habitant arcu eget. <br>
            Et integer facilisi </p>
        <h1>Trave <br>
            Explore <br>
            Discover</h1>
    </div>
    
</body>
</html>