@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    margin-top: 64px;
}
.left{
    margin-left: 112px;
}
.up h1{
    font-size: 64px;
    line-height: 80px;
}
.up p{
    margin-top: 32px;
    font-size: 26px;
}
.boton{
    margin-top: 32px;
}
.up a{
    text-decoration: none;
    font-size: 18px;
}
.midle{
    margin-top: 88px;
}
.midle h1{
    font-size: 32px;
}
.midle p{
    font-size: 24px;
}
.down h1{
    margin-top: 40px;
    font-size: 32px;
}
.down p{
    font-size: 24px;
}