@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tittles{
    margin-top: 122px;
    display: flex;
}
h1{ 
    color: var(--color-3);
    font-family: "avenir-heavy";
    margin-left: 64px;
    margin: none;
    font-size: 80px;
}
.parrafo{
    margin-left: 113px;
    width: 526px;
    height: 174px;
}
p{
    color: var(--color-4);
    font-family: "avenir-roman";
    font-size: 26px;
    line-height: auto;
}
.boton{
    margin-top: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 50px;

    background-color: var(--color-3);
}
a{
    color: var(--color-1);
    font-family: "avenir-roman";
    text-decoration: none;
    font-size: 18px;
}
img{
    margin-left: 64px;
}