:root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #457d61;
    --color-4: #252525;
    

}
@font-face {
    font-family: "example";
    src: url(../stora/font/Inter/static/example.ttf);
}