:root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #252525;
}
@font-face {
    font-family: "avenir-heavy";
    src: url(../stora/font/inter/statick/avenir-heavy.ttf)
}

@font-face {
    font-family: "avenir-roman";
    src: url(../stora/font/inter/statick/avenir-roman.ttf)
}