:root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #252525;
    --color-4: hsl(0, 0%, 15%, 0,8);;
}
@font-face {
    font-family: "avenir-heavy";
    src: url(../stora/font/inter/avenir/avenir-heavy.ttf)
}

@font-face {
    font-family: "avenir-roman";
    src: url(../stora/font/inter/avenir/avenir-roman.ttf)
}
